#required
DISCORD_TOKEN=your_discord_token

#optional - AI
OPENAI_BASE_URL=url
OPENAI_API_KEY=key

#optional - urbandictionary (RapidAPI)
URBAN_KEY=rapidapi_key


#optional - Lavalink (defaults to localhost:2333 / youshallnotpass)
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_REGION=us
